@import "normalize.css";

:root {
  --main-blue: rgba(0, 76, 135, 1);
  --main-red: rgba(255, 51, 26, 1);
  --main-gray-lt: rgba(235, 235, 235, 1);
  --main-gray: rgba(184, 184, 184, 1);
  --main-gray-dk: rgba(41, 41, 41, 1);
}


/* html elements */
body {
  font-family: "Thasadith", sans-serif;
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Anton", sans-serif;
  color: var(--main-blue);
  margin-bottom: 0;
  text-transform: uppercase;
}
section {
  margin-bottom: 40px;
}


/* search section */
.search-container {
  width: 400px;
}
.mainlogo {
  background-image: url("../../assets/images/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 125px;
  width: 280px;
  margin: 0 auto;
}

.mainlogo.small {
  height: 84px;
  margin: 0 auto;
  width: 190px;
}

section.search .search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  transition: all 0.3s ease-in;
}
section.search .search-wrapper p {
  text-align: center;
}
section.search .search-wrapper.list-selected {
  height: 280px;
  align-items: flex-start;
}

.search-wrapper input[type="text"].autocomplete {
  border: 1px solid var(--main-gray);
  background-color: var(--main-gray-lt);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  padding-left: 15px;
}
.search-wrapper input[type="text"].autocomplete:focus {
  border-bottom: 1px solid var(--main-red);
}
section.search .search-wrapper .input-field>label {
  padding-left: 10px;
}
.search-wrapper .dropdown-content li > a,
.search-wrapper .dropdown-content li > span {
  color: var(--main-blue);
}

.datepicker-wrapper {
  display: none;
}
/** override materialize colors **/
.datepicker-date-display, button:focus {
  background-color: var(--main-blue);
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .datepicker-table td.is-today {
  color: var(--main-blue);
}



/* book list section */
section.book-list {
  display: none;
}

.book-list-wrapper {
  cursor: pointer;
}
/* .book-title {
  font-size: 25px;
} */
.book-list .card.detail > .card-image.size {
  padding: 0;
}

/* h5 {
  margin: 5px;
  text-align: center;
} */


.buttons{
  margin: auto;
}

.card.horizontal.detail > .card-image > .image {
  height: 200px;
  width: auto;
  padding: 0;
}

.card > .card-stacked > .card-content > .title {
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.card > .card-stacked > .card-content > .writer {
  font-style: italic;
}

/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} */




/* book detail section */
section.book-detail {
  display: none;
  width: 100%;
  height: auto;
}
.book-detail .card { 
  padding: 50px;
}
.book-details .book-writer {
  font-style: italic;
  font-size: 20px;
}

.book-details .publish-date {
  font-style: italic;
  font-size: 15px; 
}
.book-details .book-summary {
  font-size: 15px; 
}

footer {
  background-color: rgb(77, 117, 156);
}
footer .copy {
  color: white;
  line-height: 50px;
  text-align: center;
  font-style: italic;
}




/* page 1 styles */
.Header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1368px;
  height: 1370px;
  z-index: 21;
}
.Search_NYTimes_Best_Sellers_List {
  font-size: 25px;
  font-family: "Lato";
  color: rgb(41, 41, 41);
  line-height: 1.24;
  text-align: center;
  position: absolute;
  left: 480.312px;
  top: 540.5px;
  z-index: 20;
}


.Search_Bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1368px;
  height: 1370px;
  z-index: 17;
}
.Serach_Bar {
  border-width: 1.5px;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 7px;
  background-color: rgb(235, 235, 235);
  opacity: 0.35;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1),
    0px 26px 30px 0px rgba(0, 0, 0, 0.15), 0px 28px 45px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 310px;
  top: 639px;
  width: 740px;
  height: 111px;
  z-index: 16;
}
.Drop_Down_List {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1368px;
  height: 1370px;
  z-index: 15;
}
.Paperback_Nonfiction {
  font-size: 25px;
  font-family: "Lato";
  color: rgb(0, 76, 153);
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  position: absolute;
  left: 346.984px;
  top: 1099.463px;
  z-index: 14;
}
.Mass_Market_Paperback {
  font-size: 25px;
  font-family: "Lato";
  color: rgb(0, 76, 153);
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  position: absolute;
  left: 346.984px;
  top: 1029.463px;
  z-index: 13;
}
.Hardcover_Non_Fiction {
  font-size: 25px;
  font-family: "Lato";
  color: rgb(0, 76, 153);
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  position: absolute;
  left: 346.984px;
  top: 928.5px;
  z-index: 12;
}
.Hardcover_Fiction {
  font-size: 25px;
  font-family: "Lato";
  color: rgb(0, 76, 153);
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  position: absolute;
  left: 346.984px;
  top: 858.5px;
  z-index: 11;
}
.Drop_Down_Box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1368px;
  height: 1370px;
  z-index: 9;
}
.Drop_Down_Box {
  border-width: 2px;
  border-color: rgb(225, 51, 26);
  border-style: solid;
  border-radius: 2px;
  position: absolute;
  left: 310px;
  top: 826px;
  width: 738px;
  height: 304px;
  z-index: 8;
}